body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	min-height: calc(100vh - 150px);
}
#searchInput {
	padding-right: 25px;
}
#searchIcon {
	position: absolute;
	right: 25px;
	top: 8px;
	cursor: pointer;
}
footer {
	height: 50px;
}