html, body {
	height: 100%;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}
header {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
.container {
	flex: 1 0 auto;
}
#searchInput {
	padding-right: 25px;
}
#searchIcon {
	position: absolute;
	right: 25px;
	top: 8px;
	cursor: pointer;
}
.person {
	min-width: 150px;
	padding: 10px;
}
footer {
	margin-top: auto;
	height: 50px;
}