html, body {
	height: 100%;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}
header {
	height: 100px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}
a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}
.placeholder {
	color: #ccc;
}
.hidden {
	display: none;
}
#userMenu .dropdown-menu {
	background: #1d2124;
}
#userMenu a:hover {
	background: #1d2124;
}
.menuIcon {
	display: flex;
	align-items: center;
	width: 25px;
	margin-right: 5px;
}
#logout {
	margin-left: auto;
}
.container {
	flex: 1 0 auto;
}
.loginalert {
	position: absolute;
	width: 90%;
	max-width: 800px;
	top: 110px;
	margin: 0 auto !important;
	left: 0;
	right: 0;
}
.loginBox, .formBox {
	width: 70%;
	margin: 70px auto 20px;
	background: #fff;
	max-width: 450px;
}
.formBox {
	margin-top: 20px;
}
.loginBox .form-group, .formBox .form-group {
	position: relative;
}
.loginBox .form-group input, .formBox .form-group input {
	padding-left: 35px;
}
.loginBox .input-icon, .formBox  .input-icon {
	position: absolute;
	top: 8px;
	left: 12px;
}
.select2-container .select2-selection--single {
	height: 38px;
	border-color: #ced4da;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 38px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 38px;
}
.custom-file-label {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.thumbnail {
	height: 60px;
	margin: 5px;
}
.showUserSelect {
	display: none;
	cursor: pointer;
}
#searchInput {
	padding-right: 25px;
}
#searchIcon {
	position: absolute;
	right: 25px;
	top: 8px;
	cursor: pointer;
}
.person, .child {
	width: 150px;
	cursor: pointer;
	margin: 10px;
}
.personImg {
	width: 150px;
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.caption {
	width: 100%;
	padding: 5px;
	border: 1px solid #ddd;
	text-align: center;
}
.person:active {
	box-shadow: 0 0 7px 3px #6C757D;
}

footer {
	margin-top: auto;
	height: 50px;
}
.modal-dialog {
	max-height: none !important;
	height: 98%;
}
.modal-body {
	overflow-y: auto;
}
.modal-content {
	height: 100%;
}
#spinner {
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -3.5em;
}
@media screen and (min-width: 768px){
	.modal-dialog {
		width: 90% !important;
		max-width: none !important;
		max-height: none !important;
		height: 90% !important;
	}
}
@media screen and (max-width: 767px) {
	.modal-title {
		font-size: 1rem;
	}
	.formBox {
		width: 90%;
	}
}